html {
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

body {
    margin: 46.5px 0 0 0;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    opacity: 95%;
    backdrop-filter: blur(30px);
}

li {
    float: left;
}

li .navbar-item {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li .navbar-item:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #198575;
}

li .navbar-title {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 150px;
}

.button a {
    background-color: #282A2B;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

p {
    text-align: center;
    margin-bottom: -20px;
    margin-top: 38px;
}

/* ------------------------------------------Split for Calculator-----------------------------------------------------*/
.calc-body {
    width: 275px;
    margin: auto;
    min-height: 400px;
    box-shadow: 0 8px 50px -7px black;
    background: #3A4655;
}

.calc-screen {
    padding: 1rem;
}
#calc-operation {
    font-size: 1.3rem;
    text-align: right;
    color: #727B86;
    padding-bottom: .5rem;
}
#calc-typed {
    font-size: 2rem;
    text-align: right;
    color: #fff;
}

.calc-button-row{
    display: table;
}
.calc-button-row button {
    display: table-cell;
    width: 25%;
    background: #425062;
    color: #fff;
    height: 65px;
    font-size: 1.3rem;
    border: none;
    border-color:#3C4857;
    border-width: 1px 1px 0px 0;
    border-style: solid;
}
.calc-button-row button.ac {
    color: #ff7665;
}
.calc-button-row button.opt {
    color: #ffbc56;
}

.calc-button-row button:nth-child(4n){
    border-right: none;
}
.calc-button-row button:active {
    position: relative;
    top: 1px;
}
.calc-button-row button:hover {
    background: #3e4b5c;
}

.calc-text  {
    text-align: center;
    margin-bottom: 19px;
    margin-top: 30px;
}